# ============================
#  ENTORNO VIRTUAL
# ============================
venv/
venv_new/
env/
env*/
.venv/

# ============================
#  VARIABLES DE ENTORNO
# ============================
.env
*.env

# ============================
#  PYTHON
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# ============================
#  STREAMLIT
# ============================
.streamlit/

# ============================
#  CONFIG / SISTEMA
# ============================
.DS_Store
Thumbs.db
*.tmp

# ============================
#  EDITORES / IDEs
# ============================
.vscode/
.idea/

# ============================
#  ARCHIVOS QUE NO SUBES
# ============================
stripe_logs/
ngrok.log
.devcontainer
